* {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}

/*
============================
FONTS
============================
*/

/* ROBOTO*/
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* DOSIS*/
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v7/HhyaU5sn9vOmLzloC_U.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  src: local('Dosis ExtraBold'), local('Dosis-ExtraBold'), url(https://fonts.gstatic.com/s/dosis/v7/HhyXU5sn9vOmLzHPLeCFMIs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
=============================
Sprite Map Images
=============================
*/

#nav-logo{
  width: 245px;
  height: 85px;
  background: url(images.webp) -1945px -874px;  
}


/*
===========================
HEADER
===========================
*/

header{
background: #222;
padding: 1em 0;
}

header nav{
  display:block;
  width: 700px;
  float: right;
  position: relative;
  top: 35px;
}
header nav:after{
  display:block;
  content: "";
  clear: both;
}
header nav a:link{
  display:inline-block;
  color: #FFF;
  text-decoration: none;
  padding-right: 15px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: .8em;
  
}
header nav a:visited{
  color: #FFF;
}
header img{
 position: relative;
  left: 40px;
  
}

#Welcome{
 position: relative;
  height: 600px;
}

#Welcome video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index:-1;
}




#Welcome h1{
  font-family: 'Dosis', sans-serif;
  font-weight: extra-bold;
  font-size: 3.5em;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 4px 4px 10px #000;
  text-align: center;
  padding-top: 200px;
  letter-spacing: 3px;
  word-spacing: 5px;

}
#Welcome span{
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 4px 4px 10px #000;
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 5px;
  padding-top: 40px;

}

#About-us{
 
  height: 400px;
  background: #FFF;
  text-align: center;
  padding-top: 40px;
  
  
}