* {
  padding: 0;
  margin: 0; 
  box-sizing: border-box;
}

.wrapper{
  width: 1140px;
  padding-left: 2em;
  padding-right: 2em;
  margin: 0 auto;
}

/*
============================
FONTS
============================
*/

/* ROBOTO*/
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* DOSIS*/
/* latin */
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v7/HhyaU5sn9vOmLzloC_U.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 800;
  src: local('Dosis ExtraBold'), local('Dosis-ExtraBold'), url(https://fonts.gstatic.com/s/dosis/v7/HhyXU5sn9vOmLzHPLeCFMIs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
=============================
Sprite Map Images
=============================
*/

#nav-logo{
  width: 245px;
  height: 85px;
  background: url(images.webp) no-repeat -1945px -874px;  
}
#pastor-rick-tina{
  background: url('images.webp') no-repeat -10px -2949px;
  width: 423px;
  height: 439px; 
  
}


/*
===========================
HEADER
===========================
*/

header{
background: #222;
padding: 1em 0;
}

header nav{
  display:block;
  float: right;
  position: relative;
  top: 35px;
  right: 40px;
}
header nav:after{
  display:block;
  content: "";
  clear: both;
}
header nav a:link{
  display:inline-block;
  color: #FFF;
  text-decoration: none;
  padding-right: 15px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: .8em;
  
}
header nav a:visited{
  color: #FFF;
}
header img{
 position: relative;
  left: 40px;
  
}
/*
===========================
HERO SECTION
===========================
*/
#Hero{
 position: relative;
height: 600px;
}

#Hero video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index:-1;
}

#Hero h1{
  font-family: 'Dosis', sans-serif;
  font-weight: extra-bold;
  font-size: 3.8em;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 4px 4px 10px #000;
  text-align: center;
  padding-top: 200px;
  letter-spacing: 3px;
  word-spacing: 5px;

}
#Hero span{
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #FFF;
  text-shadow: 4px 4px 10px #000;
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 5px;
  padding-top: 40px;

}
/*
===========================
Welcome SECTION
===========================
*/
#Welcome{
  background: RGBA(255,242,186,.6);
  text-align: center;
  margin: auto;
  height: 439px;
  overflow: hidden;
  
}

#Welcome-container{
  width: 60%;
  margin: auto;
  
}

#Welcome-left,
#Welcome-right{
 width: 50%;
 float: left;

}
#Welcome-right:after{
 content:"";
 display: block;
 clear:both;

}

#Welcome-right h1{
    
  display: block;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 8px;
  padding-bottom: 20px;
  padding-top: 30px;
  text-align: center;

}
#Welcome-right p{
  color: #000;
  font-size: 1em;
  line-height: 195%;
  letter-spacing: 1px;
  margin: 0;
  padding: 0 0 30px;
  padding-bottom: 40px;
  text-align: center;
}

#Welcome-link-left:link,
#Welcome-link-right:link{
  text-decoration: none;
  color:#000;
  
}

#Welcome-link-left:link{
  float: left; 
  position:relative;
  left: 40px;
  
}
#Welcome-link-right:link{
  float: right; 
  position:relative;
  right: 40px;
  
}
#Welcome-link-left:hover,
#Welcome-link-right:hover{
  color:#FFF;
  
}
#Welcome-link-left:visited,
#Welcome-link-right:visited{
  text-decoration: none;
  color:#000;
  
}